.container {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 70vw;
  padding-left: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 50px;
  padding-left: 50px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  max-width: 65vw;
}
