@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.loginContainer {
  position: relative;
  display: flex;
  font-family: Manrope, sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("/login-background.webp"),
    linear-gradient(147.1deg, #696cff 35.1%, #9574ff 77.5%);
  padding-left: 40px;
}

.loginContainer .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: white;
  width: 50%;
  z-index: 1;
}

.loginContainer .left h1 {
  font-family: Manrope;
  font-size: 88.63px;
  font-weight: 700;
  line-height: 89px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0;
}

.loginContainer .left h1 span {
  font-weight: 800;
}

.loginContainer .left #highlightText {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 89px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}

.loginContainer .left #rocket {
  position: absolute;
  width: 900px;
  top: 18rem;
  right: 37vw;
  rotate: -5deg;
  z-index: 1;
}

.loginContainer .logoContainer {
  position: relative;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  padding: 0;
  top: 40vh;
}

.loginContainer .logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.loginContainer .logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.loginContainer .logo p {
  font-family: Manrope;
  font-size: 27.42px;
  font-weight: 600;
  line-height: 37.46px;
  letter-spacing: -0.5041325688362122px;
  text-align: left;
}

.loginContainer .link {
  font-size: 0.9rem;
}
