@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.navbar {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: -0.03em;
  text-align: left;
  margin: 3.5vh 7vw;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  font-size: 27.42px;
  font-weight: 600;
  line-height: 37.46px;
  letter-spacing: -0.5px;
  color: #696cff;
}

/* LINKS  */
.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 38px;
}

.link {
  text-decoration: none;
  color: #232323;
}

.active {
  color: #696cff;
}
/* LINKS END */

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login span {
  padding-right: 24px;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}

.login span a {
  text-decoration: none;
  color: #232323;
}

.login button {
  padding: 16px 24px;
  border-radius: 9px;
  background-color: #696cff;
  color: #fff;
  font-family: "Manrope", sans-serif;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 168px;
  height: 51px;
  gap: 16px;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: background-color 0.3s ease;
}

.login button:hover {
  background-color: #575ed8;
}

.login button::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(20deg);
  transition: left 0.5s ease;
}

.login button:hover::before {
  left: 190px;
}
