.wrapper {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("/login-background.webp"),
    linear-gradient(147.1deg, #696cff 35.1%, #9574ff 77.5%);
  overflow: hidden;
}

.noOverflow {
  overflow: hidden;
  height: 100%;
}
