@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins&display=swap");

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: #ffffff;
  border-radius: 10px;
  width: 470px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.modalHeader {
  display: flex;
  align-items: center;
  gap: 15px;
}

.companyLogo {
  border-radius: 50%;
  height: 73px;
  width: 73px;
  object-fit: cover;
}

.companyName {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #566a7f;
  width: 150px;
  height: 44px;
}

.modalJobTitle {
  font-family: Manrope, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #566a7f;
  margin-top: 20px;
}

.modalJobDescription {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #757d8a;
  margin-top: 10px;
  max-width: 360px;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #757d8a;
}

.applyButton {
  background-color: #696cff;
  padding: 10px 20px;
  border-radius: 6px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

.applyButton:hover {
  background-color: #575ed8;
}
