@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #fff;
  font-family: "Manrope", sans-serif;
  border-bottom-left-radius: 7%;
  border-top-left-radius: 7%;
  margin-left: -100px;
}

.registerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.registerRight .logo {
  width: 3.4rem;
  height: 3.4rem;
  margin-bottom: 20px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
}

.registerRightTop {
  text-align: center;
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.registerRightTop h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 89px;
  text-align: left;
  color: #566a7f;
  text-transform: uppercase;
  margin: 0;
}

.photoContainer {
  height: 121.76px;
  width: 121.76px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f9;
  border-radius: 50%;
  border: 3px solid #696cff;
  margin-bottom: 20px;
  align-self: center;
}

.photoContainer .camera img {
  position: absolute;
  z-index: 2;
  height: 100px;
  width: 100px;
  bottom: 54px;
  right: -25px;
  cursor: pointer;
}

.mentorPhoto {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mentorPhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  margin-top: 1rem;
  align-items: center;
}

.registerButton {
  padding: 16px 24px;
  border-radius: 9px;
  background-color: #696cff;
  color: #fff;
  font-family: "Manrope", sans-serif;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 51px;
  gap: 16px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  z-index: 1;
}

.registerButton:hover {
  background-color: #575ed8;
}

.termsAndConditions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 20px;
  color: #566a7f;
  margin-top: 1rem;
  width: 100%;
}

.termsAndConditions .text {
  font-size: 10px;
}

.loginLinkText {
  color: #696cff;
  text-decoration: none;
  font-weight: 500;
}
