@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.userProfile {
  font-family: Manrope, sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileImage {
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-size: 16px;
  font-weight: 600;
  color: #566a7f;
}

.userRole {
  font-size: 15px;
  font-weight: 500;
  color: #b9b8bc;
}
